<div class="h-container layer2 mb-5">
  <div class="mood-check">
    <%= simple_form_for(@logbook) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <h3>How was your day?</h3>

        <div class="carousel slide" id="emojiCarousel" data-controller="edit-carousel">
          <div class="carousel-inner">
            <% Emoji.all.each_with_index do |emoji, index| %>
              <div class="carousel-item <%= 'active' if index == (@logbook.emoji_id - 1) %> item"
                  data-edit-carousel-target="emoji"
                  data-action="click->edit-carousel#editEmoji"
                  data-emoji-id="<%= emoji.id %>">
                <label class="<%= 'selected' if index == (@logbook.emoji_id - 1) %>">
                  <%= radio_button_tag 'logbook[emoji_id]', emoji.id, false, id: nil, style: 'display: none;' %>
                  <h1 style="font-size:130px;"><%= emoji.image.html_safe %></h1>
                </label>
              </div>
            <% end %>
          </div>

          <a class="carousel-control-prev" href="#emojiCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#emojiCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>

        </div>


        <p><%= f.input :summary, label: "Today's note" %></p>
        <p><%= f.input :image, as: :file, label: "Today's photo" %></p>
        <%= f.association :user, as: :hidden, input_html: { value: current_user.id }  %>
      </div>

      <div class="form-actions d-flex justify-content-around">

        <%= submit_tag '📖', name: 'submit', class: "btn btn-secondary rounded text-muted shadow-sm", style: "font-size:20px;" %>
        <%= submit_tag '💾', name: 'submit', class: "btn btn-secondary rounded text-muted shadow-sm", style: "font-size:20px;" %>
        <%= submit_tag '🎵', name: 'submit', class: "btn btn-secondary rounded text-muted shadow-sm", style: "font-size:20px;" %>
      </div>

    <% end %>
  </div>
</div>
