<div class="h-container layer_edit">
  <div class="mood-check edit_margin">

    <%= simple_form_for(@logbook) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <h3>How was your day?</h3>

      <div class="d-flex justify-content-between pt-3 pb-2">
        <% Emoji.all.each do |emoticon| %>
          <%= f.label :emoji_id, emoticon.title do %>
          <%= f.radio_button :emoji_id, emoticon.id %>
          <h1><%= emoticon.image.html_safe %></h1>
          <% end %>
        <% end %>
      </div>


        <p><%= f.input :summary, label: "Today's note" %></p>
        <p><%= f.input :image, as: :file, label: "Today's photo" %></p>
        <%= f.association :user, as: :hidden, input_html: { value: current_user.id }  %>
      </div>

      <div class="form-actions d-flex justify-content-around">
        <%= submit_tag '📖', name: 'submit', class: "btn btn-secondary rounded text-muted shadow-sm", style: "font-size:20px;" %>
        <%= submit_tag '💾', name: 'submit', class: "btn btn-secondary rounded text-muted shadow-sm", style: "font-size:20px;" %>
        <%= submit_tag '🎵', name: 'submit', class: "btn btn-secondary rounded text-muted shadow-sm", style: "font-size:20px;" %>
      </div>

    <% end %>
  </div>
</div>
