<div class="h-container layer2">
  <div class="mood-check">
    <%= simple_form_for(@logbook) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <h3><%= f.association :emoji, label: "How was your day?" %></h3>
        <h5><%= f.input :summary, label: "Today's note" %></h5>
        <h5><%= f.input :image, as: :file, label: "Today's photo" %></h5>
        <%= f.association :user, as: :hidden, input_html: { value: current_user.id }  %>
      </div>

      <div class="form-actions">

        <%= submit_tag 'Book recommendation', name: 'submit', class: "btn btn-secondary rounded" %>
        <%= submit_tag 'Playlist recommendation', name: 'submit', class: "btn btn-secondary rounded" %>
      </div>
    <% end %>
  </div>
</div>
