<div class="h-container layer3">
  <div class="text-center mt-5">
    <h1>Your path</h1>
  </div>
  <div class="logbook-container">
        <% @logbooks.each do |logbook| %>
          <%= link_to logbook_path(logbook) do %>
            <div class="journal-card">
              <div style = "font-weight: lighter;">
                <%= logbook.date.strftime("%d %b, %Y") if logbook.date %>
                <br>
                <em><%= logbook.emoji.title %></em>
                <%= logbook.emoji.image.html_safe %>
              </div>
              <%= logbook.summary %>
              <%= cl_image_tag logbook.image.key, class:"card-img-top journal-image", crop: :fill if logbook.image.attached?%>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
