<div class="landing-container landing-bg-image">
  <div class="landing-welcome">
    <h1>pathFinder.</h1>
    <br>
    <h2>How was your day?</h2>
  </div>
  <div class="w-100">
    <%= simple_form_for(@logbook) do |f| %>
      <div class="carousel slide mt-2 pt-1" id="emojiCarousel" data-controller="carousel">
        <div class="carousel-inner">
          <% Emoji.all.each_with_index do |emoji, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>"
                  data-target="carousel.emoji"
                  data-action="click->carousel#selectEmoji"
                  data-emoji-id="<%= emoji.id %>">
              <label>
                <h1 style="font-size:200px;"><%= emoji.animation.html_safe %></h1>
                <%= radio_button_tag 'logbook[emoji_id]', emoji.id, false, id: nil, style: 'display: none;' %>
              </label>
            </div>
          <% end %>

          <a class="carousel-control-prev" href="#emojiCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#emojiCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
