<h1>
Hi from the log show!
</h1>
  <li>
  <%= cl_image_tag(@logbook.emoji.photo.key, width: 80, height: 60, crop: :fill) %>
  </li>

  <% if @logbook.image.attached? %>
    <li>
    <%= cl_image_tag(@logbook.image.key, width: 400, height: 300, crop: :fill) %>
    </li>
    <li>
    <%= @logbook.summary %>
    </li>
    <li>
    <%= @logbook.created_at.strftime("%d of %B, %Y") %>, <%= @logbook.created_at.strftime("%I:%M %p") %>
    </li>
  <% else %>
    <li>
    <%= @logbook.summary %>
    </li>
    <li>
    <%= @logbook.created_at.strftime("%d of %B, %Y") %>, <%= @logbook.created_at.strftime("%I:%M %p") %>
    </li>
      <% @logbook.journals.each do |journal| %>
        <li>
        Journal entry at <%= journal.created_at.strftime("%I:%M %p") %>:
        <%= journal.prompt.content %>
        <%= journal.content %>
        <%= link_to "Edit journal", edit_logbook_journal_path(journal) %>
        </li>
      <% end %>
  <% end %>

<%= link_to "Update", edit_logbook_path(@logbook) %>
<%= link_to "Delete", logbook_path(@logbook), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this log?" } %>
<%= link_to "Homepage", home_path %>
<%= link_to "Index", logbooks_path %>
