<div class="container">
    <%= @logbook.emoji.image.html_safe %>

      <%= cl_image_tag(@logbook.image.key, width: 400, height: 300, crop: :fill) if @logbook.image.attached? %>
      <%= @logbook.summary %>
      <%= @logbook.date.strftime("%d of %B, %Y") %>, <%= @logbook.time.strftime("%I:%M %p") %>
        <% @logbook.journals.each do |journal| %>
          Journal entry at <%= journal.created_at.strftime("%I:%M %p") %>:
          <%= journal.prompt.content if journal.prompt %>
          <%= journal.content %>
          <%= link_to "Edit journal", edit_logbook_journal_path(@logbook, journal) %>
        <% end %>

  <%= link_to "Update", edit_logbook_path(@logbook) %>
</div>
