<div class="h-container layer4">
  <div class="j-container">
    <h1><span><%= @logbook.date.strftime("%d of %B") %><br><%= @logbook.time.strftime("%I:%M %p") %></span></h1>
    <div class="blobs_1"></div>
    <div class="blobs_2"></div>
    <div class="blobs_3"></div>
    <div class="blobs_4"></div>
    <div class="blobs_5"></div>
    <div class="blobs_6"></div>
    <div class="blobs_7"></div>
  </div>

  <div class="journal-entry">
    <h5><%= @logbook.emoji.title %></h5>
    <%= @logbook.emoji.image.html_safe %>
    <p><%= @logbook.summary %></p>
    <%= cl_image_tag(@logbook.image.key, class:"card-img-top journal-image", crop: :fill) if @logbook.image.attached? %>
    <br>
    <% @logbook.journals.each do |journal| %>
      Journal entry at <%= journal.created_at.strftime("%I:%M %p") %>:
      <p><%= journal.prompt.content if journal.prompt %></p>
      <p><%= journal.content %></p>
      <div class="d-flex justify-content-between">
      <%= link_to "Edit journal", edit_logbook_journal_path(@logbook, journal) %>
    <% end %>
    <%= link_to "Update", edit_logbook_path(@logbook) %>
    </div>
  </div>
</div>
