<h1>
Hi from the log show!
</h1>

  <li>
  <%= cl_image_tag(@logbook.image.key, width: 400, height: 300, crop: :fill) %>
  </li>
  <li>
  <%= @logbook.summary %>
  </li>
  <li>
  <%= @logbook.created_at %>
  </li>

<%= link_to "Update", edit_logbook_path(@logbook) %>
<%= link_to "Delete", logbook_path(@logbook), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this log?" } %>
<%= link_to "Homepage", home_path %>
<%= link_to "Index", logbooks_path %>
