<div class="wrap">
  <div class="h-container home-bg">
    <header class="top">
      <h1>Welcome, <%= current_user.first_name %> 💜</h1>
      <p><%= Date.today.strftime("%d of %B, %Y") %></p>
      <p><em>Chi va piano, va sano e va lontano</em>
        "Who goes slowly, goes safely and goes far"</p>
    </header>

    <div class="favorites-container">
      <h2>What do you need today?</h2>
      <div class="notification-lg">
        <p>
          <strong>
            <i class="fa-solid fa-bell" style="color: #02394a;"></i>
            Activities Today:
          </strong>
            Meditation and Relaxation
        </p>
        <small>8:00pm</small>
      </div>

      <div class="notification-sm">
        <img src="http://co0kie.github.io/codepen/mindful/buddhist-yoga-pose.svg" alt="">
        <p><strong>Vinyasa Yoga</strong></p>
      </div>

      <%= link_to new_logbook_journal_path(@logbook) do %>
        <div class="notification-sm">
          <img src="http://co0kie.github.io/codepen/mindful/buddhist-yoga-pose.svg" alt="">
          <p><strong>Mindful Journaling</strong></p>
        </div>
      <% end %>

      <%= link_to logbook_book_path(@logbook, @logbook.emoji.book_ids) do %>
        <div class="notification-sm">
          <img src="http://co0kie.github.io/codepen/mindful/buddhist-yoga-pose.svg" alt="">
          <p><strong>Book Library</strong></p>
        </div>
      <% end %>

      <%= link_to logbook_playlist_path(@logbook, @logbook.emoji.playlist_ids) do %>
        <div class="notification-sm">
          <img src="http://co0kie.github.io/codepen/mindful/buddhist-yoga-pose.svg" alt="">
          <p><strong>Playlists of the Moment</strong></p>
        </div>
      <% end %>
    </div>

<!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(164, 170, 218, 0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(164, 170, 218, 0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(164, 170, 218, 0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#a4aada" />
        </g>
      </svg>
    </div>
<!--Waves end-->
  </div>
</div>
