<div class="container mt-5 text-center">
  <h1>Hi <%= current_user.first_name %>.</h1>

  <div data-controller="profile">
    <div class="option-button">
      <div class="container my-5 text-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary" data-action="click->profile#showChart" data-profile-target="weeklyBtn" disabled>Weekly</button>
          <button type="button" class="btn btn-outline-primary" data-action="click->profile#showCalendar" data-profile-target="monthlyBtn">Monthly</button>
        </div>
      </div>
    </div>

    <div class="container my-3 text-center d-none" data-profile-target="calendar">
      <div class="class">
        <p>Monthly Log Calendar:</p>
      </div>
      <%= month_calendar do |date| %>
        <% if @logbooks.select { |logbook| logbook[:created_at].to_date == date } != [] %>
          <%= link_to date_logbooks_path(date) do %>
            <div class="link_date"><%= date.day %></div>
          <% end %>
        <% else %>
        <%= date.day %>
         <% end %>
      <% end %>
    </div>


    <canvas data-controller="profile-chart" id="chart" data-profile-target="chart"></canvas>
  </div>
</div>









<%# <% @logbooks.each do |logbook| %>
  <%# <%= logbook.emoji.value %>
<%# <% end %>
