<div class="container">
  <h1>
    Dani <%= current_user.first_name %>!
  </h1>


  Statistical history:
  <div class="container my-5 text-center">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary">Weekly</button>
      <button type="button" class="btn btn-outline-primary">Monthly</button>
    </div>
  </div>

  <div class="container my-5 text-center">
    <%= month_calendar do |date| %>
      <%= link_to date_logbooks_path(date) do %>
        <%= date.day %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Homepage", home_path %>
</div>
