<div class="h-container home-bg spacer">
  <div class="container mt-5">
    <h1 class="mb-4">Today's book suggestions:</h1>
    <%= @logbook.emoji.title %>
    <%= @logbook.emoji.image.html_safe %>
    <% @recommendations.each do |recommendation| %>
      <%= link_to recommendation.url do %>
        <div class="card-product m-3">
          <%= image_tag(recommendation.image_url.html_safe) %>
          <div class="card-product-infos">
            <h2><%= recommendation.title %></h2>
            <p><%= recommendation.author %></p>
            <h5><%= recommendation.description.truncate(115) %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
